[settings]
line_length = 99
multi_line_output = 3
include_trailing_comma = true
known_first_party = core,auth_app,profile_app,offers_app,orders_app,reviews_app,base_info_app
no_lines_before = LOCALFOLDER
skip = env
skip_glob = */migrations/*
